# Настройки Django
SECRET_KEY=your-secret-key

# База данных
DB_NAME=homestyle
DB_USER=homestyle_user
DB_PASSWORD=your_strong_password
DB_HOST=localhost
DB_PORT=5432

# Доп. настройки
ALLOWED_HOSTS=localhost,127.0.0.1

#settings envairement
DJANGO_ENV=dev
